.circleSpinContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circleSpinContainer .outsideCircle {
  position: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  height: 520px;
  width: 520px;
  border-radius: 50%;
  user-select: none;
}

.circleSpinContainer .outsideCircle .mainImgOutsideCircle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
}

.circleSpinContainer .outsideCircle .mainImgOutsideCircle.active {
  animation: spin 8s linear 1s infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.circleSpinContainer .outsideCircle .outsideCircle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
  opacity: 0;
}

.circleSpinContainer
  .outsideCircle
  .mainImgOutsideCircle.active
  .outsideCircle {
  opacity: 1;
}

.circleSpinContainer
  .outsideCircle
  .mainImgOutsideCircle.active
  .outsideCircle:nth-child(1) {
  background: url(../../../images/logo/logo-html-5.png);
  background-size: contain;
  background-position: center;
  position: absolute;
  transform: translateY(-210%);
}

.circleSpinContainer
  .outsideCircle
  .mainImgOutsideCircle.active
  .outsideCircle:nth-child(2) {
  background: url(../../../images/logo/logo-css-3.png);
  background-size: contain;
  background-position: center;
  position: absolute;
  transform: translate(-150%, -150%);
}

.circleSpinContainer
  .outsideCircle
  .mainImgOutsideCircle.active
  .outsideCircle:nth-child(3) {
  background: url(../../../images/logo/logo-javascript.png);
  background-size: contain;
  background-position: center;
  position: absolute;
  transform: translate(210%);
}

.circleSpinContainer
  .outsideCircle
  .mainImgOutsideCircle.active
  .outsideCircle:nth-child(4) {
  background: url(../../../images/logo/logo-node-js.png);
  background-size: contain;
  background-position: center;
  position: absolute;
  transform: translate(150%, 150%);
}

.circleSpinContainer
  .outsideCircle
  .mainImgOutsideCircle.active
  .outsideCircle:nth-child(5) {
  background: url(../../../images/logo/logo-react.png);
  background-size: contain;
  background-position: center;
  position: absolute;
  transform: translateY(210%);
}

.circleSpinContainer
  .outsideCircle
  .mainImgOutsideCircle.active
  .outsideCircle:nth-child(6) {
  background: url(../../../images/logo/logo-next-js.png);
  background-size: contain;
  background-position: center;
  position: absolute;
  transform: translate(-150%, 150%);
}

.circleSpinContainer
  .outsideCircle
  .mainImgOutsideCircle.active
  .outsideCircle:nth-child(7) {
  background: url(../../../images/logo/logo-electron.png);
  background-size: contain;
  background-position: center;
  position: absolute;
  transform: translateX(-210%);
}

.circleSpinContainer
  .outsideCircle
  .mainImgOutsideCircle.active
  .outsideCircle:nth-child(8) {
  background: url(../../../images/logo/logo-github.png);
  background-size: contain;
  background-position: center;
  position: absolute;
  transform: translate(-150%, -150%);
}

.circleSpinContainer img {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 3px solid var(--clr-sec);
  transform: translate(-200px);
  opacity: 0;
  animation: fade-in 1s ease;
}

@keyframes fade-in {
  to {
    transform: translate(0);
    opacity: 1;
  }
}
